body {
	font-family:'PT Sans', sans-serif;
	background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
	}

a {
	text-decoration: none;
	color:#4B4B4B;
}

a:hover {
	color:#4B4B4B;
}

a:visited {
	color:#4B4B4B;

}

.folder-window {
  position: fixed;
  background-color:rgba(0, 0, 0, 0.47);
  top: 0;
  right: 0;
  left: 0;
  height:100vh;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}


.folder-window:target {
  opacity: 1;
  pointer-events: auto;
}

.folder-window>div {
  max-width:934px;
  margin:auto;
  max-height:100vh;
  overflow-y: auto;
  position: relative;
  background: #fff;
  color: #444;
}


.folder-title{
	display:flex;
  align-items:center;
  flex-direction:column;
}

.folder-title h1{
	margin-top:0px;
	padding-top:0px;
}


.stack-grid {
	display: grid;
	grid-template-columns: 4fr 4fr;
	grid-auto-rows: 200px;
	grid-gap: 2rem;
	padding-left: 5%;
	padding-right: 5%;
	margin-top:20px;
}

.stack-centering{
	display:flex;
	align-items: center;
	justify-content: center;
}

.photo-resize {
	padding-top:22px;
	width:100px;
}
.stack{
	display:flex;
	flex-direction:column;
	align-items:center;
	border-radius:10px;
	box-shadow: 0 4px 17px 0 rgba(233, 233, 233, 0.5)
}

.name {
	margin-top:10px;
	margin-bottom:0;
	font-size:14px;
	font-weight: bold;
}

.description {
	font-size:13px;
	margin-bottom:0;
	text-align:center;
}

.link {
	color:#400866;
	margin-bottom:10px;
	margin-top:8px;
	font-size:12px;
}


.folder-close {
  color: #666666;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.folder-close:hover {
  color: #000;
}


.folder-window h1 {
	padding-top:50px;
	font-size:2.4rem;
}

.related{
	margin-left:5%;
	margin-top:95px;
	margin-bottom: 12px;
}

.webstack-title {
	margin-top:40px;
	font-size:24px;
	font-weight:bold;
}
/** folder   **/

.submit {
  background-color:#3F75FF;
  height:auto;
  width:100px;
  display:flex;
  justify-content:center;
  padding:12px;
  color:white;
  border-radius:10px;
  transition: all 0.3s ease-out;

}

.submit:hover {
	transform: translateY(-10px) scale(1.005) translateZ(0);
  box-shadow: 0 8px 10px 0 rgba(63, 117, 255, 0.47);
}
nav {
	margin-top:30px;
}

li {
	list-style: none;
}

.left-nav {
	display:inline-block;
}

.right-nav {
	display:inline-block;
	float:right;
}

.blue {
	color:#5e13cf;
}

.intro {
	text-align:center;
}

.projects-title {
	margin-top:0 auto;
	color:#4B4B4B;
}

.projects-description {
	color:#A7A7A7;
	font-size:20px;
	margin-top: -22px;
	margin-bottom:60px;
}

.card-container {
	margin:auto;
	max-width:1100px;

}
.card-holder {
	display: grid;
	grid-template-columns: 3fr 3fr;
	grid-auto-rows: 200px;
	grid-gap: 2rem;
	padding-left: 5%;
	padding-right: 5%;
}

.webstack {
  background-color: #3b5998;
  border-radius: 10px;
  background-size:30%;
  background-repeat:no-repeat;
  background-position: center;
  transition: all 0.3s ease-out;
}


.webstack:nth-child(1) {
	background-color:#ffdeaf;
	background-image:url("../images/Day1.png");
}

.webstack:nth-child(2) {
	background-color:#d7e9ff;
	background-image:url("../images/Day2.png");
}

.webstack:nth-child(3) {
	background-color:#A5A9CB;
	background-image:url("../images/Day3.png");
}

.webstack:nth-child(4) {
	background-color:#307bf1;
	background-image:url("../images/Day4.png");
}

.webstack:nth-child(5) {
	background-color:#fbc856;
	background-image:url("../images/Day5.png");
}

.webstack:nth-child(6) {
	background-color:#d3d4b3;
	background-image:url("../images/Day6.png");
}

.webstack:nth-child(7) {
	background-color:#eadddd;
	background-image:url("../images/Day7.png");
}

.webstack:nth-child(8) {
	background-color:#FFA0B9;
	background-image:url("../images/Day8.png");
}

.webstack:nth-child(9) {
	background-color:#89B8FE;
	background-image:url("../images/Day9.png");
}

.webstack:nth-child(10) {
	background-color:#30E3CA;
	background-image:url("../images/Day10.png");
}
.webstack:nth-child(11) {
	background-color:#ad65d6;
	background-image:url("../images/Day11.png");	
}
.webstack:nth-child(12) {
	background-color:#d1ff82;
	background-image:url("../images/Day12.png");
}
.webstack:nth-child(13) {
	background-color:#D0DB97;
	background-image:url("../images/Day13.png");
}
.webstack:nth-child(14) {
	background-color:#F5D6F1;
	background-image:url("../images/Day14.png");
}
.webstack:nth-child(15) {
	background-color:#5CC1FD;
	background-image:url("../images/Day15.png");
}
.webstack:nth-child(16) {
	background-color:#d3fff3;
	background-image:url("../images/Day16.png");
}
.webstack:nth-child(17) {
	background-color:#d2f3bd;
	background-image:url("../images/Day17.png");
}
.webstack:nth-child(18) {
	background-color:#a2ff98;
	background-image:url("../images/Day18.png");
}
.webstack:nth-child(19) {
	background-color:#bbded6;
	background-image:url("../images/Day19.png");
}
.webstack:nth-child(20) {
	background-color:#f9f5ce;
	background-image:url("../images/Day20.png");
}
footer {
	height:150px;
	background-color:#FAFAFA;
	margin-top:80px;
	width:100%;
	display:flex;
	justify-content: center;
	align-items: center;
}

.love{
	color:#e25555;
}

/* Scale boxes */

@media screen and ( min-width: 613px ) {

.projects-title {
	font-size:24px;
	text-align:left;
}

.projects-description{
	text-align:left;
	font-size:16px;
}

.left-nav {
	font-size:20px;
}

}


@media screen and ( min-width:768px){

.folder-window>div {
	margin-top:32px;
	border-radius:10px;
	max-height: 90vh;
}

.stack-grid {
	display: grid;
	grid-template-columns: 4fr 4fr;
	grid-auto-rows: 200px;
	grid-gap: 3rem;
	padding-left: 5%;
	padding-right: 5%;
	margin-top:20px;

}

.article-holder {
	display:flex;
}


.click-out {
	display:block;
	position:fixed;
	top: 0;
  	right: 0;
 	bottom: 0;
  	left: 0;
  	z-index:-50;
  	cursor:default;
}

}

@media screen and ( min-width:1020px) {

.card-holder {
	display: grid;
	grid-template-columns: 4fr 4fr 4fr 4fr;
	grid-auto-rows: 360px 200px;
	grid-gap: 2.8rem;

}

.webstack:nth-child(1){
	transition: all 0.3s ease-out;
	box-shadow: 0 14px 26px rgba(0,0,0,0.04);
}

.webstack:nth-child(1):hover {
 transform: translateY(-10px) scale(1.005) translateZ(0);
 box-shadow: 0 24px 36px rgba(15,28,112, .3);
}

.webstack:nth-child(2){
	transition: all 0.3s ease-out;
	box-shadow: 0 14px 26px rgba(0,0,0,0.04);
}

.webstack:nth-child(2):hover {
  transform: translateY(-10px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px #7B82B2;
}

.webstack:nth-child(3){
	transition: all 0.3s ease-out;
	box-shadow: 0 14px 26px rgba(0,0,0,0.04);
}

.webstack:nth-child(3):hover {
  transform: translateY(-10px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(75, 75, 75, .3);
}

.webstack:nth-child(4){
	box-shadow: 0 14px 26px rgba(0,0,0,0.04);
	transition: all 0.3s ease-out;
}

.webstack:nth-child(4):hover {
 transform: translateY(-10px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px #64AFFF;
}


.webstack:nth-child(5){
	box-shadow: 0 14px 26px rgba(0,0,0,0.04);
	transition: all 0.3s ease-out;
}

.webstack:nth-child(5):hover {
 transform: translateY(-10px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px #D19E2C;
}

.webstack:nth-child(6){
	box-shadow: 0 14px 26px rgba(0,0,0,0.04);
	transition: all 0.3s ease-out;
}

.webstack:nth-child(6):hover {
 transform: translateY(-10px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px #C39F77;
}


.webstack:nth-child(7){
	box-shadow: 0 14px 26px rgba(0,0,0,0.04);
	transition: all 0.3s ease-out;
}

.webstack:nth-child(7):hover {
 transform: translateY(-10px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px #BDBDBD;
}

.webstack:nth-child(8){
	box-shadow: 0 14px 26px rgba(0,0,0,0.04);
	transition: all 0.3s ease-out;
}

.webstack:nth-child(8):hover {
 transform: translateY(-10px) scale(1.005) translateZ(0);
 box-shadow: 0 24px 36px #FFA1A1;
}

.webstack:nth-child(9){
	box-shadow: 0 14px 26px rgba(0,0,0,0.04);
	transition: all 0.3s ease-out;
}

.webstack:nth-child(9):hover {
 transform: translateY(-10px) scale(1.005) translateZ(0);
 box-shadow: 0 24px 36px #51709A;
}
	
.webstack:nth-child(10){
	box-shadow: 0 14px 26px rgba(0,0,0,0.04);
	transition: all 0.3s ease-out;
}

.webstack:nth-child(10):hover {
 transform: translateY(-10px) scale(1.005) translateZ(0);
 box-shadow: 0 24px 36px #219E8E;
}

.webstack:nth-child(11){
	box-shadow: 0 14px 26px rgba(0,0,0,0.04);
	transition: all 0.3s ease-out;
}

.webstack:nth-child(11):hover {
 transform: translateY(-10px) scale(1.005) translateZ(0);
 box-shadow: 0 24px 36px #7830A1;
}
	
.webstack:nth-child(12){
	box-shadow: 0 14px 26px rgba(0,0,0,0.04);
	transition: all 0.3s ease-out;
}

.webstack:nth-child(12):hover {
 transform: translateY(-10px) scale(1.005) translateZ(0);
 box-shadow: 0 24px 36px #5B890C;
}
	
.webstack:nth-child(13){
	box-shadow: 0 14px 26px rgba(0,0,0,0.04);
	transition: all 0.3s ease-out;
}

.webstack:nth-child(13):hover {
 transform: translateY(-10px) scale(1.005) translateZ(0);
 box-shadow: 0 24px 36px #ABB47C;
}
	
.webstack:nth-child(14){
	box-shadow: 0 14px 26px rgba(0,0,0,0.04);
	transition: all 0.3s ease-out;
}

.webstack:nth-child(14):hover {
 transform: translateY(-10px) scale(1.005) translateZ(0);
 box-shadow: 0 24px 36px #E592DC;
}
	
.webstack:nth-child(15){
	box-shadow: 0 14px 26px rgba(0,0,0,0.04);
	transition: all 0.3s ease-out;
}

.webstack:nth-child(15):hover {
 transform: translateY(-10px) scale(1.005) translateZ(0);
 box-shadow: 0 24px 36px #0091E6;
}

.webstack:nth-child(16){
	box-shadow: 0 14px 26px rgba(0,0,0,0.04);
	transition: all 0.3s ease-out;
}

.webstack:nth-child(16):hover {
 transform: translateY(-10px) scale(1.005) translateZ(0);
 box-shadow: 0 24px 36px #c0e8dd;
}

.webstack:nth-child(17){
	box-shadow: 0 14px 26px rgba(0,0,0,0.04);
	transition: all 0.3s ease-out;
}

.webstack:nth-child(17):hover {
 transform: translateY(-10px) scale(1.005) translateZ(0);
 box-shadow: 0 24px 36px #b7dca0;
}
	
.webstack:nth-child(18){
	box-shadow: 0 14px 26px rgba(0,0,0,0.04);
	transition: all 0.3s ease-out;
}

.webstack:nth-child(18):hover {
 transform: translateY(-10px) scale(1.005) translateZ(0);
 box-shadow: 0 24px 36px #75e868;
}

.webstack:nth-child(19){
	box-shadow: 0 14px 26px rgba(0,0,0,0.04);
	transition: all 0.3s ease-out;
}

.webstack:nth-child(19):hover {
 transform: translateY(-10px) scale(1.005) translateZ(0);
 box-shadow: 0 24px 36px #9BB8B2;
}

.webstack:nth-child(20){
	box-shadow: 0 14px 26px rgba(0,0,0,0.04);
	transition: all 0.3s ease-out;
}

.webstack:nth-child(20):hover {
 transform: translateY(-10px) scale(1.005) translateZ(0);
 box-shadow: 0 24px 36px #D5D1B0;
}
	
.stack {
	transition: all 0.3s ease-out;
}

.stack:hover {
 transform: translateY(-10px) scale(1.005) translateZ(0);
 box-shadow: 0 20px 36px 0 rgba(233, 233, 233, 0.5)
}

}

@media only screen and (min-width: 1440px ){

.projects-title {
	margin-top:0 auto;
}
}
